<head>
    <<h1>
        <strong>Correct</strong>
        Veja seu progresso e escreva uma redação hoje
        <!-- 
            TODO:
                botão home
        -->
    </h1>
</head>

<body>
    <h2>
        Bem vindo <%= @aluno.nome %>!
    </h2>
    <!-- 
        TODO:
            puxar qtd redações escritas 
            puxar qtd de correções pendentes
            construir tabela de direcionamento para construção de redação
            construir tabela para puxar redações escritas
    -->
</body>

<<footer>
    <strong>Correct</strong>
</footer>