<head>
    <<h1>
        <strong>Correct</strong>
        Ajude no caminho para milhares de alunos realizarem seu sonho!
        <!-- 
            TODO:
                botão home
        -->
    </h1>
</head>

<body>
    <h2>
        Bem vindo <%= @usuario.nome %>!
    </h2>
    <table>
        <tr>
            <th>Total de redações corrigidas</th>
        </tr>
        <tr>
            <th><!-->TODO calcular total de reaçãoes<--></th>
        </tr>
    </table>
    <div>
        <table>
            <tr>
                <th>Tema</th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
            </tr>
        </table>
    </div>
</body>

<<footer>
    <strong>Correct</strong>
</footer>