<p>
  <strong>Redacoes:</strong>
  <%= @redacao.texto %>
</p>
 
<p>
  <strong>Bdr:</strong>
  <%= @redacao.redacao %>
</p>

<p>
  <strong>editar:</strong>
  <%= @editar.texto %>
</p>
 
<p>
  <strong>editar:</strong>
  <%= @editar.titulo %>
</p>
