<head>
    <<h1>
        <strong>Correct</strong>
        Veja seu progresso e escreva uma redação hoje
        <!-- 
            TODO:
                botão home
        -->
    </h1>
</head>

<body>
    <h2>
        Bem vindo <%= @aluno.nome %>!
    </h2>
    <table>
        <tr>
            <th>Total de redações corrigidas</th>
            <th>Redações aguardando correção</th>
        </tr>
        <tr>
            <th><!-->TODO calcular total de reaçãoes<--></th>
            <th><!-->TODO calcular em espera<--></th>
        </tr>
    </table>
    <div>
        <table>
            <tr>
                <th>Tema</th>
                <th>Status</th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar redação<--></th>
                <th><!-->TODO buscar status<--></th>
            </tr>
        </table>
    </div>
    <div>
        <h1><strong>Escreva uma redação agora!</strong></h1>
        <table>
            <tr>
                <th>Tema</th>
            </tr>
            <tr>
                <th><!-->TODO buscar tema<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar tema<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar tema<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar tema<--></th>
            </tr>
            <tr>
                <th><!-->TODO buscar tema<--></th>
            </tr>
        </table>
    </div>
</body>

<<footer>
    <strong>Correct</strong>
</footer>