<h1>Nova redacao</h1>
<%= form_with scope: :redacao, url: redacao_path, local: true do |form| %>
  <p>
    <%= form.label :redacao %><br>
    <%= form.text_field :redacao %>
  </p>

  <p>
    <%= form.submit 'Salvar nova redacao' %>
  </p>
<% end %>
